.menu-3 {
  display: none;
  width: 100%;
  overflow: hidden;
  transition: all 600ms ease;
  z-index: 10001;
}
.menu-3 > ul {
  width: 250px;
  background-color: #e74c3c;
  padding: 10px 10px 0 10px;
  overflow: hidden;
  clip-path: circle(9% at 10.2% 9%);
  border-radius: 0 10px 10px 0;
}
.menu-3 a {
  text-decoration: none;
  cursor: pointer;
  color:#000;
  font-family: 'Baloo Bhaijaan', cursive;
}
.menu-3 li {
  margin: 5px;
  list-style: none;
  opacity: 0;
  text-align: right;
}
.menu-3 li:nth-of-type(even){
  transform: translateY(-20px);
}
.menu-3 li:nth-of-type(odd){
  transform: translateY(20px);
}
.menu-3 ul {
  transition:400ms ease-in-out;
}
.menu-3 .i ul {
  height: 0px;
  padding-left: 10px;
  overflow: hidden;
}
.menu-3 button hr{
  width: 70%;
  border: 1px solid #000;
  margin: 4px auto 4px auto;
}
.menu-3 ul button {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  outline: none;
  border: none;
}
.menu-3 ul button svg {
  width: 100%;
  height: 100%;
}
.menu-3 path {
  d:path('M32 48 L36 34 L48 32 L36 28 L32 16 L28 28 L16 32 L28 34');
  transition: 1000ms ease-in-out;
}
.menu-3 ul button svg:hover path {
  d:path('M32 48 L32 48 L48 32 L48 32 L32 16 L32 16 L16 32 L16 32');
  transition: 400ms ease-in-out;
}
.menu-3 .i {
  min-height:30px;
}
.menu-3 ul li ul li {
  background-color: #1a001a;
  padding: 0 3px 0 3px;
}
@media only screen and (max-width:1024px){
  .menu-3 {
    display:block;

  }
}
